/* :: 15.0 Sale Area CSS */

.rehome-house-sale-area {
    position: relative;
    z-index: 1;

    .row {
        margin-left: -20px;
        margin-right: -20px;

        @media #{$breakpoint-xs} {
            margin-left: -15px;
            margin-right: -15px;
        }

        .col-12 {
            padding-left: 20px;
            padding-right: 20px;

            @media #{$breakpoint-xs} {
                padding-left: 15px;
                padding-right: 15px;
            }
        }
    }
}

.single-property-area {
    position: relative;
    z-index: 1;
    border-radius: 5px;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.1);
    @include transition-duration(500ms);
    margin-bottom: 40px;

    .property-thumb {
        overflow: hidden;
        border-radius: 5px 5px 0 0;

        img {
            @include transition-duration(1000ms);
            border-radius: 5px 5px 0 0;
            width: 100%;
        }
    }

    .property-desc-area {
        position: relative;
        z-index: 1;
        padding: 20px 30px;

        .property-title-seller {
            border-bottom: 1px solid $border;
            padding-bottom: 20px;

            .property-title {
                h4 {
                    font-size: 20px;
                    margin-bottom: 3px;

                    @media #{$breakpoint-lg} {
                        font-size: 16px;
                    }

                    @media #{$breakpoint-md} {
                        font-size: 16px;
                    }

                    @media #{$breakpoint-xs} {
                        font-size: 14px;
                    }
                }

                p {
                    color: $secondary;
                    margin-bottom: 0;

                    @media #{$breakpoint-lg} {
                        font-size: 14px;
                    }

                    @media #{$breakpoint-md} {
                        font-size: 14px;
                    }

                    @media #{$breakpoint-xs} {
                        font-size: 14px;
                    }

                    i {
                        font-size: 16px;
                        color: $primary;
                    }
                }
            }

            .property-seller {
                p {
                    margin-bottom: 6px;
                    color: $secondary;

                    @media #{$breakpoint-lg} {
                        font-size: 14px;
                    }

                    @media #{$breakpoint-md} {
                        font-size: 14px;
                    }

                    @media #{$breakpoint-xs} {
                        font-size: 14px;
                    }
                }

                h6 {
                    font-weight: 400;
                    margin-bottom: 0;

                    @media #{$breakpoint-lg} {
                        font-size: 14px;
                    }

                    @media #{$breakpoint-md} {
                        font-size: 14px;
                    }

                    @media #{$breakpoint-xs} {
                        font-size: 14px;
                    }
                }
            }
        }

        .property-info-area {
            padding-top: 20px;

            p {
                @include flex(0 0 50%);
                max-width: 50%;
                width: 50%;
                margin-bottom: 10px;
                color: $secondary;

                @media #{$breakpoint-lg} {
                    font-size: 14px;
                }

                @media #{$breakpoint-md} {
                    font-size: 14px;
                }

                @media #{$breakpoint-xs} {
                    font-size: 14px;
                }

                &:nth-child(even) {
                    text-align: right;
                }

                span {
                    color: $heading;
                }
            }
        }
    }

    .property-price {
        @include display-flex(flex);

        .badge-rent,
        .badge-sale {
            margin-bottom: 0;
            @include flex(0 0 35%);
            max-width: 35%;
            width: 35%;
            text-align: center;
            background-color: $blue;
            color: $white;
            font-size: 16px;
            font-weight: 600;
            padding: 15px 0;
            border-radius: 0 0 0 5px;
        }

        .badge-sale {
            background-color: #f26522;
        }

        .price {
            color: $heading;
            margin-bottom: 0;
            @include flex(0 0 65%);
            max-width: 100%;
            width: 70%;

            background-color: $bg-gray;
            font-size: 16px;
            font-weight: 600;

            border-radius: 0 0 5px 0;
            @include transition-duration(500ms);
        }
    }

    &:hover,
    &:focus {
        box-shadow: 0px 16px 35px 0px rgba(0, 0, 0, 0.15);

        .property-price {

            .price {
                background-color: $hover;
                color: $white;
            }
        }

        img {
            @include transform(scale(1.2));
        }
    }
}