nav ul.design{
    padding: 0px;
    margin : 0px;
    list-style-type: none;


}
nav li.container{
    display: inline-block;
    width: 100px;
    height: 40px;
    margin: 0px;
    padding: 0px;
    border-right: 1px solid #CCCCCC;
    text-align: center;
    line-height: 40px;
}
nav li a.d{
    text-decoration: none;

    color: #0b0b0b;
    background: #D0D3D6;
    Margin: 0px 2px 0px 0px;
    padding: 10px 15px;
}
a.container{

    color: #0b0b0b;

    Margin: 0px 2px 0px 0px;
    padding: 10px 15px;}
label{
    font: 20px Poppins-Bold sans-serif;

}
h1.titre_externe{
   color: #152A46;
    font: 38px Poppins-Bold sans-serif;
    margin: 20px 0px 30px;
}
div.block_bg{
    color: #0b0b0b;
    font: 13.6px sans-serif;
    background: #f3efef;
    margin: 0px 0px 20px;
    padding: 50px;

}
h2 {
    font-size: 28px;
    margin-bottom: 35px;
    margin-top: 35px;
}
h2.sous_titre_externe {
   color: #152A46;
    font: 24px Poppins-Bold sans-serif;
    margin: -24px 0px 36px;

}
span.text-bold{color: #152A46;
font: 38px Poppins-Bold sans-serif;
font-weight: 900;}