{% extends 'base.html.twig' %}
{% block body %}


    <div class="col-lg-8 col-md-8 col-sm-6 col-xs-12">

        <div class="block_bg">
            <div class="row">


                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 tripgovoiturage">
                    <p class="price_trip center"><i class="fa fa-road"></i><span>TRAJET <span
                                    class="trip_identifiant"></span></span>
                    </p>

                    <div class="margin">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 data_trip">
                            <div class="dept_trip"><span class="box-trip-title"><i class="fa fa-map-marker "></i> <span>Départ:</span></span><span
                                        class="trip_note_details"> {{ data.pointdepart }}</span></div>
                            <div class="dept_trip"><span class="box-trip-title"><i class="fa fa-map-marker "></i><span>Arrivée:</span></span><span
                                        class="trip_note_details">{{ data.pointarrivee }}</span>
                            </div>
                            <div class="dept_trip"><span class="box-trip-title"><i
                                            class="fa fa-calendar"></i><span>Date départ:</span></span><span
                                        class="trip_note_details">{{ data.datedepart }}</span>
                            </div>
                            <div class="dept_trip"><span class="box-trip-title"><i
                                            class="fa fa-clock-o"></i><span>Heuredépart:</span></span><span
                                        class="trip_note_details">{{ data.heuredepart }}</span>
                            </div>


                            <div class="dept_trip"><span class="box-trip-title"><i
                                            class="fa fa-fire"></i><span>Fumeurs:</span></span><span
                                        class="trip_note_details">{{ data.createdby.fumeur ? '<span class="yes"><i
                        class="fa fa-check"></i></span>' : '<span class="trip_note_details"><span
                        class="no"><i class="fa fa-times"></i></span>' }}</span>
                            </div>

                            <div class="dept_trip"><span class="box-trip-title"><i class="fa fa-volume-up"></i><span>Musique:</span></span><span
                                        class="trip_note_details"> {{ data.musique ? '<span class="yes"><i
                        class="fa fa-check"></i></span>' : '<span class="trip_note_details"><span
                        class="no"><i class="fa fa-times"></i></span>' }}</span>
                            </div>


                            <div class="dept_trip"><span class="box-trip-title"><i class="fa fa-shopping-bag"></i><span>Bagages:</span></span><span
                                        class="trip_note_details">{{ data.bagage ? '<span class="yes"><i
                        class="fa fa-check"></i></span>' : '<span class="trip_note_details"><span
                        class="no"><i class="fa fa-times"></i></span>' }}</span>
                            </div>






                            <div class="dept_trip"><span class="box-trip-title"><i class="fa fa-car"></i><span>Voiture:</span></span><span
                                        class="trip_note_details">{{ data.voiture.type.modelevoiture.modele}} {{ data.voiture.type.nom  }}</span>
                                <div class="dept_trip"><span class="box-trip-title"><i class="fa fa-caret-right"></i> <span>Climatiseur:</span></span><span
                                            class="trip_note_details">   {{ data.voiture.climatisee   ? '<span class="yes"><i
                        class="fa fa-check"></i></span>' : '<span class="trip_note_details"><span
                        class="no"><i class="fa fa-times"></i></span>' }}</span></div>
                            </div>




                            <div class="dept_trip"><span class="box-trip-title"><i class="fa fa-user"></i><span>Conducteur:</span></span><span
                                        class="trip_note_details">{{ data.createdby.username  }}</span>
                            </div>
                            {% for x in data.avis %}
                                <li>  <div class="dept_trip"><span class="box-trip-title"><i class="fa fa-info"></i><span>Notes</span></span></span>
                                    </div> <div class="my-rating" data-rating="{{ x.note }}"></div></li>
                            {% endfor %}
                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    </div>
    <script>
        $(".my-rating").starRating({
            totalStars: 5,
            strokeColor: '#894A00',
            strokeWidth: 10,
            starSize: 25,
            readOnly:true
        });
    </script>
{% endblock %}