{% extends 'base.html.twig' %}

{% block body %}

    <div class="row justify-content-center align-items-center">
        <div class="container">
            <h1 class="titre_externe"><span class="text-bold">Publier </span> une annonce</h1>
            <h2 class="sous_titre_externe">Publiez en moins d'une minute votre annonce de covoiturage</h2></div>
        <script>$(document).ready(function () {
                $('.js-datepicker').datepicker({
                    format: 'yyyy-mm-dd'
                });
            });</script>
        <div class="col-lg-8 col-md-8 col-sm-6 col-xs-12">
            <div class="block_bg">
                <div class="row">

                      
                    <div class="col-md-6 col-md-offset-3">

                        {{ form_start(form) }}


                        <div class="col-md-6">
                            <label> Ville de depart:</label>
                            {{ form_widget(form.Villedepart) }}
                        </div>
                        <br>
                        <div class="col-md-6">
                            <label>Ville d'arrivée: </label>
                            {{ form_widget(form.villearrivee) }}

                        </div>
                        <br>
                        <div class="col-md-6">
                            <label> Point depart:</label>
                            {{ form_widget(form.pointdepart) }}
                        </div>
                        <br>

                        <div class="col-md-6">
                            <label> Point d'arrivée:</label>
                            {{ form_widget(form.pointarrivee) }}
                        </div>
                        <br>

                        <div class="col-md-6">
                            <label> Prix:</label>
                            {{ form_widget(form.prix) }}
                        </div>
                        <br>

                        <div class="col-md-6">
                            <label> Date depart:</label>
                            {{ form_widget(form.datedepart) }}
                        </div>
                        <br>

                        <div class="col-md-6">
                            <label> Heure depart:</label>
                            {{ form_widget(form.heuredepart) }}
                        </div>
                        <br>
                        <div class="col-md-6">
                            <label> Voitures:</label>
                            {{ form_widget(form.voiture) }}
                        </div>
                        <br>
                        <div class="col-md-6">
                            <label> Musique:</label>
                            {{ form_widget(form.musique) }}
                        </div>
                        <br>
                        <div class="col-md-6">
                            <label> Pause:</label>
                            {{ form_widget(form.pause) }}
                        </div>
                        <br>
                        <div class="col-md-6">
                            <label> Bagage: </label>
                            {{ form_widget(form.bagage) }}
                        </div>
                        <br>


                        <div class="col-md-6">
                            {{ form_row(form.submit) }}
                        </div>


                    </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>



{% endblock %}
