{% extends 'base.html.twig' %}
{% block body %}
    <div class="container">
        <h1 class="titre_externe"><span class="text-bold">Mes </span> évaluations</h1></div>


    <div class="col-lg-8 col-md-8 col-sm-6 col-xs-12">
        {% if is_granted('ROLE_CONDUCTEUR') %}
        <div class="block_bg">
            {% for x in data %}
            {% for avis in x.avis %}


                <div class="margin">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 data_trip" style="padding: 10px">
                        <div class="dept_trip">
                            <span class="box-trip-title"> <span>Note:</span></span>
                            <div class="my-rating" data-rating="{{ avis.note }}">   </div>
                        </div>
                        <div class="dept_trip">
                            <span class="box-trip-title"> <span>Description:</span></span>
                            {{ avis.description }}
                        </div>
                        <div class="dept_trip">
                            <span class="box-trip-title"> <span>Evaluée par:</span></span>
                            {{ avis.user.username }}
                        </div>
                    </div>
                </div>
            {% endfor %}

            {% endfor %}
            {% else %}
            <div class="block_bg">
                {% for x in dataUser %}

                        <div class="margin">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 data_trip" style="padding: 10px">
                                <div class="dept_trip">
                                    <div class="my-rating" data-rating="{{ x.note }}"></div>
                                </div>
                                <div class="dept_trip">
                                    <div >{{ x.description }}</div>
                                </div>
                                <div class="dept_trip">
                                    <div >{{ x.annonce.pointdepart }}</div>
                                </div>
                            </div>
                        </div>

                {% endfor %}
            {% endif %}

        </div>
        </div>
    </div>


    <script>
        $(".my-rating").starRating({
            totalStars: 5,
            strokeColor: '#894A00',
            strokeWidth: 10,
            starSize: 25,
            readOnly: true
        });
    </script>
{% endblock %}


