{% extends 'base.html.twig' %}
{% block body %}




    <section class="rehome-house-sale-area section-padding-100-60">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-heading text-center wow fadeInUp" data-wow-delay="200ms">
                        <h2>Mes <span>Annonces</span></h2>

                    </div>
                </div>


                {% for x in data %}
                    <div class="col-12 col-md-6 col-lg-4">
                        <div class="single-property-area wow fadeInUp" data-wow-delay="200ms">

                            <!-- Property Description -->
                            <div class="property-desc-area">
                                <!-- Property Title & Seller -->
                                <div class="property-title-seller d-flex justify-content-between">
                                    <!-- Title -->
                                    <div class="property-title">
                                        <h4>{{ x.trajet.villedepart }}</h4>
                                        <p><i class="fa fa-map-marker" aria-hidden="true"></i> {{ x.pointdepart }}</p>
                                    </div>
                                    <!-- Seller -->
                                    <div class="property-seller">
                                        <p>Personne:</p>
                                        <h6><i class="fa fa-user-marker"
                                               aria-hidden=true"></i> {{ x.createdby.username }} </h6>
                                    </div>
                                </div>
                                <!-- Property Info -->
                                <div class="property-info-area d-flex flex-wrap">

                                    <p>point d'arrivee: <span>  {{ x.pointarrivee }}  </span></p>
                                    <p>date de depart: <span>  {{ x.datedepart }}  </span></p>
                                    <p> heure depart: <span>   {{ x.heuredepart }}  </span></p>
                                    <p>bagage: <span
                                                class="trip_note_details">{{ x.bagage ? '<span class="yes"><i
                        class="fa fa-check"></i></span>' : '<span class="trip_note_details"><span
                        class="no"><i class="fa fa-times"></i></span>' }}</span>
                                    <p>prix: <span> {{ x.prix }}  </span></p>

                                    <p>fumeur: <span
                                                class="trip_note_details">{{ x.createdby.fumeur ? '<span class="yes"><i
                        class="fa fa-check"></i></span>' : '<span class="trip_note_details"><span
                        class="no"><i class="fa fa-times"></i></span>' }}</span></p>
                                </div>
                            </div>

                            <!-- Property Price -->
                            <div class="property-price">
                                <p class="badge-rent">Gérer</p>
                                <button class='priceb' > <a href="{{ path('modificationAnannonce',{annonceID: x.id}) }}">modifier</a> </button>
                                <button class='priceb' onclick="f({{ x.id }});"> supprimer</button>


                            </div>
                        </div>
                    </div>
                {% endfor %}

            </div>
        </div>
    </section>
    <script>
        function f(id) {
            $.ajax({
                type: "DELETE",
                url: "http://127.0.0.1:8001/deleteannonce/"+id,
                dataType: "json",
                success: function (response) {
                    alert("suppression done");
                    location.reload();
                    return response
                },
                error: function (response) {
                    alert("error");
                    return response
                }
            });


        }

        </script>

{% endblock %}