{% extends 'base.html.twig' %}

{% block body %}







    <nav class="d">
        <ul class="design">
    <li class="container"> <a class="container" href="{{ path ('profil') }}">Profile</a>  </li>
     <li class="container"> <a class="container" href="{{ path ('voiture') }}">Véhicules</a>  </li>

        </ul>
    </nav>


    <div class="container">
        <h1 class="titre_externe"> <span class="text-bold">Mon </span> profile</h1>
        <h2 class="sous_titre_externe">Accédez à votre profile et modifiez vos paramètres à partir de cette page</h2></div>


    <div class="col-lg-8 col-md-8 col-sm-6 col-xs-12">
    <div class="block_bg">
    <div class="row">





          <div class="col-md-6 col-md-offset-3">

            {{ form_start(form) }}

            <div class="col-md-6">
                <label class="text"> Nom: </label>
                {{ form_widget(form.username) }}



            </div><br>
            <div class="col-md-6">
                <label class="text">Numéro de téléphone: </label>
                {{ form_widget(form.numtel) }}

            </div><br>
            <div class="col-md-6">
                <label class="text"> Genre:</label>
                {{ form_widget(form.genre) }}
            </div>
            <br><br>
            <div class="col-md-6">
                <label class="text"> Fumeur:</label>
                {{ form_widget(form.fumeur) }}
            </div>
            <br><br>

            <div class="col-md-6">
                {{ form_row(form.submit) }}
            </div><br>


    </div>
    {{ form_end(form) }}
    </div>
    </div></div></div>



{% endblock %}