{% extends 'base.html.twig' %}
{% block body %}




    <section class="rehome-house-sale-area section-padding-100-60">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-heading text-center wow fadeInUp" data-wow-delay="200ms">
                        <h2>Mes <span>Réservations</span></h2>

                    </div>
                </div>


                {% for x in data %}
                    <div class="col-12 col-md-6 col-lg-4">
                        <div class="single-property-area wow fadeInUp" data-wow-delay="200ms">

                            <!-- Property Description -->
                            <div class="property-desc-area">
                                <!-- Property Title & Seller -->
                                <div class="property-title-seller d-flex justify-content-between">
                                    <!-- Title -->
                                    <div class="property-title">
                                        <h4>{{ x.annonce.trajet.villedepart }}</h4>
                                        <p><i class="fa fa-map-marker"
                                              aria-hidden="true"></i> {{ x.annonce.pointdepart }}</p>
                                    </div>
                                    <!-- Seller -->
                                    <div class="property-seller">
                                        <p>Personne:</p>
                                        <h6><i class="fa fa-user-marker"
                                               aria-hidden=true"></i> {{ x.annonce.createdby.username }} </h6>
                                    </div>
                                </div>
                                <!-- Property Info -->
                                <div class="property-info-area d-flex flex-wrap">
                                    <p>point d'arrivee: <span>  {{ x.annonce.pointarrivee }}  </span></p>
                                    <p>date de depart: <span>  {{ x.annonce.datedepart }}  </span></p>
                                    <p> heure depart: <span>   {{ x.annonce.heuredepart }}  </span></p>
                                    <p>bagage: <span>  {{ x.annonce.bagage }}  </span></p>
                                    <p>prix: <span> {{ x.annonce.prix }}  </span></p>
                                </div>
                            </div>

                            <!-- Property Price -->
                            <div class="property-price">
                                <p class="badge-rent">Annuler reservation</p>
                                <button class='priceb' onclick="f({{ x.id }});"> annuler</button>
                                <div id="ex1" class="modal">

                                    <p> <bold> Evaluer </bold></p>
                                    <div class="my-rating"></div>
                                    {{ form_start(form) }}
                                        {{ form_row(form.description) }}
                                        {{ form_row(form.annonce, { 'value': x.annonce.id}) }}
                                        {{ form_row(form.submit) }}

                                    {{ form_end(form) }}
                                </div>
                                <p><a href="#ex1" rel="modal:open">Evaluer</a></p>
                            </div>
                        </div>
                    </div>
                {% endfor %}

            </div>
        </div>
    </section>
    <script>
        $(document).ready(function () {
            var rating=0;
            $(".my-rating").starRating({
                initialRating: 4,
                strokeColor: '#894A00',
                strokeWidth: 10,
                starSize: 25,
                callback: function (currentRating, $el) {
                    rating=currentRating;
                }
            });

            $("form").submit(function(e){
                e.preventDefault();
                var data={"user":{{app.user.id}},
                    "annonce":parseInt($("#form_annonce").val()),
                    "note":rating,
                    "description":$("#form_description").val()}
                console.log(data);
                $.ajax({
                    url:"http://127.0.0.1:8001/donner",
                    method:"POST",
                    data:data,
                    dataType: "json",
                    success:function(response) {
                        alert("done");

                    },
                    error:function(response){
                        alert("error");
                    }

                });
            });
        })

        function f(id) {
            $.ajax({
                type: "DELETE",
                url: "http://127.0.0.1:8001/annulerreservation/" + id,
                dataType: 'text',
                success: function (response) {
                    alert("annulation done");
                    location.reload();
                    return response
                },
                error: function (response) {
                    alert("error");
                    return response
                }
            });
        }
    </script>
{% endblock %}