{% extends 'base.html.twig' %}

{% block body %}
    <style>
        .numberCircleRed {
            font: 32px Arial, sans-serif;

            width: 2em;
            height: 2em;
            box-sizing: initial;
            display: inline-block;
            background: #FF0000;
            border: 0.1em solid #666;
            color: #666;
            text-align: center;
            border-radius: 50%;

            line-height: 2em;
            box-sizing: content-box;
        }

        .numberCircleGreen {
            font: 32px Arial, sans-serif;
            display: inline-block;
            width: 2em;
            height: 2em;
            box-sizing: initial;

            background: #34a853;
            border: 0.1em solid #666;
            color: #666;
            text-align: center;
            border-radius: 50%;

            line-height: 2em;
            box-sizing: content-box;
        }
    </style>
    <!-- **** Welcome Maps Area Start **** -->
    <div class="welcome-area wow fadeInUp" data-wow-delay="200ms">
        <div class="pos-map" id="map-canvas">
            <div id='map' style='height: 700px;'></div>
            <script>
                features = [];

                function getPause(isMember) {
                    return (isMember ? 'Avec pause' : 'Sans pause');
                }

                function getMusique(isMember) {
                    return (isMember ? 'Avec musique' : 'Sans musique');
                }

                function getBagage(isMember) {
                    return (isMember ? 'Avec bagage' : 'Sans bagage');
                }
                function getFumeur(isMember) {
                    return (isMember ? 'Fumeur' : 'Non fumeur');
                }

                function isComplet(completCondiction, nbrP, nbrReserv) {
                    return (completCondiction ? 'complet' : nbrReserv + " of " + nbrP)
                }

                function isCompletStatut(completCondiction, nbrP, nbrReserv) {
                    return (completCondiction ? '<span class="numberCircleRed" style="font-size: 6px"></span>\n' : '<span class="numberCircleGreen" style="font-size: 6px"></span>\n')
                }

                function loadMap() {
                    mapboxgl.accessToken = 'pk.eyJ1IjoibWFsZWs5OCIsImEiOiJjanNnbnhubjMwMXE5NDNuem9sbjJ1NG9xIn0.S9QvJekjC8Hyn_AtUyw2uw';
                    var latitude = {{ latitude|json_encode() }}; // Nickname will be a string
                    var longitude = {{ longitude|json_encode() }}; // Nickname will be a string
                    var map = new mapboxgl.Map({
                        container: 'map',
                        style: 'mapbox://styles/mapbox/streets-v9',
                        center: [latitude, longitude],
                        zoom: 5
                    });


                    map.on('load', function () {
                        map.addLayer({
                            "id": "places",
                            "type": "symbol",
                            "source": {
                                "type": "geojson",
                                "data": {
                                    "type": "FeatureCollection",
                                    "features": features
                                }
                            },
                            "layout": {
                                "icon-image": "{icon}-15",
                                "icon-allow-overlap": true
                            }
                        });
                        map.on('click', 'places', function (e) {
                            var coordinates = e.features[0].geometry.coordinates.slice();
                            var description = e.features[0].properties.description;
                            while (Math.abs(e.lngLat.lng - coordinates[0]) > 180) {
                                coordinates[0] += e.lngLat.lng > coordinates[0] ? 360 : -360;
                            }

                            new mapboxgl.Popup()
                                .setLngLat(coordinates)
                                .setHTML(description)
                                .addTo(map);
                        });
                        map.on('mouseenter', 'places', function () {
                            map.getCanvas().style.cursor = 'pointer';
                        });
                        map.on('mouseleave', 'places', function () {
                            map.getCanvas().style.cursor = '';
                        });
                    });
                }

                $(document).ready(function () {

                    mapboxgl.accessToken = 'pk.eyJ1IjoibWFsZWs5OCIsImEiOiJjanNnbnhubjMwMXE5NDNuem9sbjJ1NG9xIn0.S9QvJekjC8Hyn_AtUyw2uw';
                    var latitude = {{ latitude|json_encode() }}; // Nickname will be a string
                    var longitude = {{ longitude|json_encode() }}; // Nickname will be a string
                    var map = new mapboxgl.Map({
                        container: 'map',
                        style: 'mapbox://styles/mapbox/streets-v9',
                        center: [latitude, longitude],
                        zoom: 5
                    });


                    map.on('load', function () {
                        map.addLayer({
                            "id": "places",
                            "type": "symbol",
                            "source": {
                                "type": "geojson",
                                "data": {
                                    "type": "FeatureCollection",
                                    "features": features
                                }
                            },
                            "layout": {
                                "icon-image": "{icon}-15",
                                "icon-allow-overlap": true
                            }
                        });

                        map.on('click', 'places', function (e) {
                            var coordinates = e.features[0].geometry.coordinates.slice();
                            var description = e.features[0].properties.description;
                            while (Math.abs(e.lngLat.lng - coordinates[0]) > 180) {
                                coordinates[0] += e.lngLat.lng > coordinates[0] ? 360 : -360;
                            }

                            new mapboxgl.Popup()
                                .setLngLat(coordinates)
                                .setHTML(description)
                                .addTo(map);
                        });
                        map.on('mouseenter', 'places', function () {
                            map.getCanvas().style.cursor = 'pointer';
                        });
                        map.on('mouseleave', 'places', function () {
                            map.getCanvas().style.cursor = '';
                        });
                    });
                })


            </script>
        </div>
    </div>
    <!-- **** Welcome Maps Area End **** -->

    <!-- **** Location Search Form Area **** -->
    <div class="rehomes-search-form-area wow fadeInUp" data-wow-delay="200ms">
        <form class="form-inline">
            {{ form_start(form) }}
            <div class="form-group mx-sm-3 mb-2">
                {{ form_row(form.villedepart) }}
            </div>
            <div class="form-group mx-sm-3 mb-2">
                {{ form_row(form.villearrivee) }}

            </div>
            <div class="form-group mx-sm-3 mb-2">
                {{ form_row(form.datedepart) }}

            </div>
            <div class="form-group mx-sm-3 mb-2">
                {{ form_row(form.heuredepart) }}

            </div>
            <div class="form-group mx-sm-3 mb-2">
                {{ form_row(form.submit) }}

            </div>
            {{ form_end(form) }}
        </form>


    </div>
    </div>

    <!-- **** Location Search Form Area **** -->
    <div id="paginate">
        <section class="rehome-house-sale-area section-padding-100-60">
            <div class="container">
                <div class="section-heading text-center wow fadeInUp" data-wow-delay="200ms">
                    <h2>Recherche <span>Annonces</span></h2>
                    <div id="error"></div>
                </div>
                <div class="row" id="paginateContent">

                    <div class="col-12">

                    </div>


                    <!-- Single Property Area -->

                </div>

            </div>
        </section>

    </div>
    <!-- **** Sale area Start **** -->


    <section class="rehomes-choose-us-area section-padding-100-60">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-heading text-center wow fadeInUp" data-wow-delay="200ms">
                        <h2><span>Mieux </span> que Co-voiturage?</h2>
                        <p> à vous de juger !</p>
                    </div>
                </div>

                <!-- Single choose us content -->
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="single-choose-us-content wow fadeInUp" data-wow-delay="200ms">
                        <!-- Choose us Icon -->
                        <div class="choose-us-icon">
                            <i class="icon_search_alt"></i>
                        </div>
                        <h5>Vous cherchez une voiture?</h5>
                        <p>Trouvez un conducteur qui vous emmène à votre destination finale </p>
                    </div>
                </div>

                <!-- Single choose us content -->
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="single-choose-us-content wow fadeInUp" data-wow-delay="200ms">
                        <!-- Choose us Icon -->
                        <div class="choose-us-icon">
                            <i class="icon_percent_alt"></i>
                        </div>
                        <h5>Simple et pratique</h5>
                        <p>Notre site web a été conçue pour être intuitif, rapide et pratique. </p>
                    </div>
                </div>

                <!-- Single choose us content -->
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="single-choose-us-content wow fadeInUp" data-wow-delay="200ms">
                        <!-- Choose us Icon -->
                        <div class="choose-us-icon">
                            <i class="icon_heart"></i>
                        </div>
                        <h5>97% de nos clients satisfaits</h5>
                        <p>L’opinion de nos clients est très importante ! Lisez les avis de ceux qui ont choisi de
                            voyager
                            avec co-voiturage </p>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!-- **** Choose Us Area End **** -->


    <!-- **** Call to Action Area Start **** -->
    <section class="rehome-call-to-action-area bg-overlay bg-img jarallax section-padding-100"
             style="background-image: url({{ asset('img/bg-img/11.jpg') }});">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-7">
                    <!-- Call to Action Content -->
                    <div class="call-to-action-content wow fadeInUp" data-wow-delay="200ms">
                        <h2>Download app &amp; join now!</h2>
                        <p>Download and sign up to receive all the latest real estate news.</p>
                        <!-- Button -->
                        <div class="download-btn">
                            <a class="mr-2" href="#"><img src="{{ asset('img/bg-img/12.png') }}" alt=""></a>
                            <a href="#"><img src="{{ asset('img/bg-img/13.png') }}" alt=""></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>


    <script>

        $(document).ready(function () {

            var villedepart = $("#form_villedepart");
            var villearrivee = $("#form_villearrivee");
            var datedepart = $("#form_datedepart");
            var heuredepart = $("#form_heuredepart");
            var paginate = $("#paginate");
            $(function () {


                //
                $(function () {

                    $("form").submit(function (e) {
                        e.preventDefault();
                        console.log(villedepart.val());
                        console.log(villearrivee.val());
                        console.log(datedepart.val());
                        console.log(heuredepart.val());
                        var actionurl = e.currentTarget.action;
                        var jsonData = {};
                        let i = 0;
                        $("form").serializeArray().forEach(function (element) {
                            element.name = element.name.substring(element.name.indexOf("[") + 1);
                            element.name = element.name.substring(0, element.name.indexOf("]"));
                            if (i === 0) {
                                element.name = element.name.charAt(0).toUpperCase() + element.name.slice(1)
                            }
                            jsonData[element.name] = element.value;

                            i++
                        });
                        console.log(jsonData);
                        $.ajax({
                            url: 'http://127.0.0.1:8001/recherche',
                            type: 'post',
                            dataType: 'text',
                            data: jsonData,
                            success: function (response) {
                                if (Object.keys(JSON.parse(response)).length === 0) {
                                    var errorMsg = '<div class="alert alert-danger alert-dismissible fade show">' +
                                        '                                        <strong id="page">il n\'ya pas des annonces</strong>' +
                                        '                                    <button type="button" class="close" data-dismiss="alert">×</button>' +
                                        '                                    </div>';

                                    $("#paginateContent").empty();

                                    $("#error").append(errorMsg);

                                    return;
                                }
                                $("#error").empty();
                                features = []
                                $("#paginateContent").empty();

                                function writeContent(x) {
                                    content = "<div class=\"col-12 col-md-6 col-lg-4\">\n" +
                                        "                    <div class=\"single-property-area wow fadeInUp\" data-wow-delay=\"200ms\">\n" +
                                        "                        <!-- Property Thumb -->\n" +
                                        "                        <!-- Property Description -->\n" +
                                        "                        <div class=\"property-desc-area\">\n" +
                                        "                            <!-- Property Title & Seller -->\n" +
                                        "                            <div class=\"property-title-seller d-flex justify-content-between\">\n" +
                                        "                                <!-- Title -->\n" +
                                        "                                <div class=\"property-title\">\n" +
                                        "                                    <h4>" + x.trajet.Villedepart + "</h4>\n" +
                                        "                                    <p><i class=\"fa fa-map-marker\" aria-hidden=\"true\"></i>" + x.pointdepart + "</p>\n" +
                                        "                                </div>\n" +
                                        "                                <!-- Seller -->\n" +
                                        "                                <div class=\"property-seller\">\n" +
                                        "                                    <p>Personne:</p>\n" +
                                        "                                    <h6><i class=\"fa fa-user-marker\" aria-hidden=\"true\"></i>" + x.createdby.username + "</h6>\n" +
                                        "                                </div>\n" +
                                        "                            </div>\n" +
                                        "                            <!-- Property Info -->\n" +
                                        "                            <div class=\"property-info-area d-flex flex-wrap\">\n" +
                                        "                                <p>Point d'arrivee: <span>" + x.pointarrivee + "</span></p>\n" +
                                        "                                <p>Date de depart: <span>" + x.datedepart + "</span></p>\n" +
                                        "                                <p> Heure depart: <span> " + x.heuredepart + "</span></p>\n" +
                                        "                                 <p>Bagage: <span>" + getBagage(x.bagage) + "</span></p>\n" +
                                        "                                 <p>Prix: <span>" + x.prix + "</span></p>\n" +
                                        "                                 <p>Fumeur: <span>" + getFumeur(x.createdby.fumeur )+ "</span></p>\n" +

                                        "                            </div>\n" +
                                        "                        </div>\n" +
                                        "\n" +
                                        "                        <!-- Property Price -->\n" +
                                        "                        <div class=\"property-price\">\n" +
                                        "                            <p class=\"badge-sale\">Reserver:</p>\n" +
                                        "                            <p class=\"price\"><button class='priceb' id='btnr" + x.id + "'> Reserver </p>\n" +
                                        "                        </div>\n" +
                                        "                    </div>\n" +
                                        "         ";
                                    return content
                                }

                                (JSON.parse(response)).map(function (e) {
                                        $("#paginateContent").append(writeContent(e));
                                        console.log(e);
                                        $.ajax({
                                            type: "GET",
                                            url: "http://127.0.0.1:8001/rechecheMap/" + e.pointdepart,
                                            dataType: 'json',
                                            success: function (response) {
                                                var newAdd = {

                                                    "type": "Feature",
                                                    "properties": {
                                                        "description": e.pointdepart + "<br>" + e.datedepart + "<br>" + e.heuredepart + "<br> " + e.prix + " <br>" + getMusique(e.musique) + "<br> " + getPause(e.pause) + "<br> " + getBagage(e.bagage) + "<br> " + isComplet(e.reservations.length === e.voiture.nbrplace, e.voiture.nbrplace, e.reservations.length)
                                                             + isCompletStatut(e.reservations.length === e.voiture.nbrplace, e.voiture.nbrplace, e.reservations.length),
                                                        "icon": "circle"

                                                    },
                                                    "geometry": {
                                                        "type": "Point",
                                                        "coordinates": [response[0], response[1]]
                                                    }
                                                }
                                                features.push(newAdd);
                                                console.log(features);
                                                loadMap();
                                                return response
                                            },
                                            error: function (response) {
                                                alert("error");
                                                return response
                                            }
                                        });
                                        var foo = '{{ app.user }}';

                                        $("#btnr" + e.id).click(function () {
                                            if (!foo) {
                                                alert("vous devez etre connecte");
                                                return;
                                            }
                                            $.ajax({
                                                type: "POST",
                                                url: "http://127.0.0.1:8001/ajoutreservation/" + foo + "/" + e.id,
                                                contentType: 'json',
                                                success: function (response) {
                                                    alert("reservation done");
                                                    return response
                                                },
                                                error: function (x) {
                                                    var mySubString = x.responseText.substring(
                                                        x.responseText.lastIndexOf("{") + 1,
                                                        x.responseText.lastIndexOf("}")
                                                    );
                                                    alert(mySubString.split(':').pop());
                                                    return x
                                                }
                                            });
                                        })
                                    }
                                )


                                return response
                            }
                        });
                    })
                });
            })
        })

    </script>
{% endblock %}