{% extends 'base.html.twig' %}

{% block body %}

<div class="col-lg-8 col-md-8 col-sm-6 col-xs-12">
    <div class="block_bg">
        <div class="row">

              

            
            <div class="col-md-6 col-md-offset-3">

                {{ form_start(form) }}


                <div class="col-md-6">
                    <label> Email:</label>
                    {{ form_widget(form.email) }}
                </div> <br>
                <div class="col-md-6">
                    <label> Mot de passe:</label>
                    {{ form_widget(form.password) }}
                </div><br>
                <div class="col-md-6">
                    <label> Confirmation mot de passe:</label>
                    {{ form_widget(form.confirmpassword) }}
                </div> <br>
                <div class="col-md-6">
                    <label> Conducteur:</label>
                    {{ form_widget(form.role) }}
                </div> <br>

                <div class="col-md-6">
                    {{ form_widget(form.submit) }}
                </div>

            </div>
        </div>
        {{ form_end(form) }}
    </div></div>


{% endblock %}
