<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Title -->
    <title>Co-voiturage</title>

    <!-- Favicon -->
    <link rel="icon" href="{{ asset('./img/core-img/favicon.png') }}">
    <script src='https://api.mapbox.com/mapbox-gl-js/v0.53.0/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v0.53.0/mapbox-gl.css' rel='stylesheet' />
    <!-- Stylesheet -->
    <link rel="stylesheet" href="{{ asset('style.css') }}">
    <link rel="stylesheet" href="{{ asset('css/classy-nav.css') }}">
    <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('css/owl.carousel.min.css') }}">
    <link rel="stylesheet" href="{{ asset('css/magnific-popup.css') }}">
    <link rel="stylesheet" href="{{ asset('css/font-awesome.min.css') }}">
    <link rel="stylesheet" href="{{ asset('css/nice-select.css') }}">
    <link rel="stylesheet" href="{{ asset('css/jquery-ui.min.css') }}">
    <link rel="stylesheet" href="{{ asset('css/menu.css') }}">
    <link rel="stylesheet" href="{{ asset('css/animate.css') }}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <!-- jQuery 2.2.4 -->
    <script src="{{ asset('js/jquery.min.js') }}"></script>
    <!-- Popper -->
    <script src="{{ asset('js/popper.min.js') }}"></script>
    <!-- Bootstrap -->
    <script src="{{ asset('js/bootstrap.min.js') }}"></script>
    <!-- All Plugins -->
    <script src="{{ asset('js/rehomes.bundle.js') }}"></script>
    <!-- Active -->

    <script src="{{ asset('js/default-assets/active.js') }}"></script>
    <script src="{{ asset('js/default-assets/avoid.console.error.js') }}"></script>
    <script src="{{ asset('js/default-assets/classy-nav.js') }}"></script>
    <script src="{{ asset('js/default-assets/jquery.scrollup.js') }}"></script>

    <script src="{{ asset('js/owl.carousel.min.js') }}"></script>
    <script src="{{ asset('js/isotope.pkgd.min.js') }}"></script>
    <script src="{{ asset('js/waypoints.min.js') }}"></script>
    <script src="{{ asset('js/imagesloaded.pkgd.min.js') }}"></script>
    <script src="{{ asset('js/wow.min.js') }}"></script>
    <script src="{{ asset('js/jquery.magnific-popup.min.js') }}"></script>

    <script src="{{ asset('js/jaralax.min.js') }}"></script>
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            crossorigin="anonymous"></script>

    <script
            src="https://code.jquery.com/jquery-3.4.1.min.js"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
            crossorigin="anonymous">

    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" />
    <script src="{{ asset('js/jquery.star-rating-svg.js') }}"></script>
    <link rel="stylesheet" type="text/css" href="{{ asset('css/star-rating-svg.css') }}">
</head>

<body>

<!-- Preloader -->
<div id="preloader">
    <div class="loader"></div>
</div>

<!-- **** Header Area Start **** -->
<header class="header-area">
    <!-- Top Header Area Start -->
    <div class="top-header-area">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-6">
                    <div class="top-header-content">
                        <a href="#"><i class="icon_mail"></i> <span>testcovoiturage76@gmail.com</span></a>
                        <a href="#"><i class="icon_phone"></i> <span>(+216)  56 987 123</span></a>
                    </div>
                </div>
                <div class="col-6">
                    <div class="top-header-content">
                        <!-- Top Social Area -->
                        <div class="top-social-area ml-auto">
                            <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Top Header Area End -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light main-header-area animated">
        <a class="navbar-brand" href="/"><img src="{{ asset('./img/core-img/logo.png') }}"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{{ path ('accueil') }}">Accueil <span class="sr-only">(current)</span></a>
                </li>
                {% if not app.user %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path ('register') }}">Inscription</a>
                    </li>
                {% endif %}
                {% if not app.user %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ path ('security_login') }}">Connexion</a>
                </li>
                {% else %}
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{app.user.username}}
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{{ path ('profil') }}">Profil</a>
                    {% if is_granted('ROLE_USER') == false%}
                        <a class="dropdown-item" href="{{ path ('historiquepublication') }}">Mon Historique </a>
                        <a class="dropdown-item" href="{{ path ('avis') }}"> Mes Evaluations </a>

                    {% else %}
                        <a class="dropdown-item" href="{{ path ('reservations') }}">Mes réservations</a>
                    {% endif %}


                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{{ path ('security_logout') }}">Déconnexion</a>
                </div>
            </li>
            </ul>
            {% endif %}
            <div class="contact-btn mt-3 mt-lg-0 ml-3 ml-lg-5">
                <a href="{{ path('annonce') }}"> <i class="icon_plus_alt"> </i> Publier une annonce</a>
            </div>
        </div>
    </nav>
    <!-- Main Header Start -->

</header>
<!-- **** Header Area End **** -->
{% block body %}
{% endblock %}


<footer class="footer-area bg-img bg-overlay-2 section-padding-100-0"
        style="background-image: url({{ asset('img/bg-img/17.jpg') }});">
    <!-- Main Footer Area -->
    <div class="main-footer-area">
        <div class="container">
            <div class="row justify-content-between">

                <!-- Footer Widget Area -->
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="single-footer-widget mb-80">
                        <!-- Footer Logo -->
                        <a href="#" class="footer-logo"><img src="{{ asset('img/core-img/logo-2.png') }}" alt=""></a>

                        <p>Co-voiturage est un site tunisien qui facilite votre trajets .</p>
                        <!-- Social Info -->
                        <div class="social-info">
                            <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>

                <!-- Footer Widget Area -->
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="single-footer-widget mb-80">
                        <!-- Widget Title -->
                        <h5 class="widget-title">Infos</h5>

                        <!-- Contact Area -->
                        <div class="footer-contact">
                            <p>Numéro-Tel: <span>(+216) 56 987 123</span></p>
                            <p>Email: <span>covoiturage.info@gmail.com</span></p>
                            <p>Address: <span>Sahloul,Sousse</span></p>
                        </div>
                    </div>
                </div>

                <!-- Footer Widget Area -->
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="single-footer-widget mb-80">
                        <!-- Widget Title -->
                        <h5 class="widget-title">Destinations</h5>

                        <!-- Footer Nav -->
                        <ul class="footer-nav d-flex flex-wrap">
                            <li><a href="#"><i class="fa fa-map-marker" aria-hidden="true"></i> Sousse</a></li>
                            <li><a href="#"><i class="fa fa-map-marker" aria-hidden="true"></i> Tunis</a></li>
                            <li><a href="#"><i class="fa fa-map-marker" aria-hidden="true"></i> Sfax</a></li>
                            <li><a href="#"><i class="fa fa-map-marker" aria-hidden="true"></i> Nabeul</a></li>
                            <li><a href="#"><i class="fa fa-map-marker" aria-hidden="true"></i> Zaghouane</a></li>
                            <li><a href="#"><i class="fa fa-map-marker" aria-hidden="true"></i> Gabes</a></li>
                            <li><a href="#"><i class="fa fa-map-marker" aria-hidden="true"></i> Tataouine</a></li>
                            <li><a href="#"><i class="fa fa-map-marker" aria-hidden="true"></i> Rades</a></li>
                        </ul>
                    </div>
                </div>


            </div>
        </div>
    </div>

    <!-- Copywrite Area -->
    <div class="copywrite-content">
        <div class="container">
            <div class="row align-items-center">
                <!-- Copywrite Text -->
                <div class="col-12 col-sm-6">
                    <div class="copywrite-text">

                    </div>
                </div>


            </div>
        </div>
    </div>
</footer>


</body>

</html>