{% extends 'base.html.twig' %}

{% block body %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>




    <nav class="d">
        <ul class="design">
            <li class="container"><a class="container" href="{{ path ('profil') }}">Profil</a></li>
            <li class="container"><a class="container" href="{{ path ('voiture') }}">Véhicules</a></li>
        </ul>
    </nav>
    <div class="container">
        <h1 class="titre_externe"><span class="text-bold">Mes </span> véhicules</h1>
        <h2 class="sous_titre_externe">Renseignez le type de votre véhicule.</h2></div>




    <div class="col-lg-8 col-md-8 col-sm-6 col-xs-12">
        <div class="block_bg">
            <div class="row">


                  
                <div class="col-md-6 col-md-offset-3">

                    {{ form_start(form) }}


                    {{ form_widget(form) }}

                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>

    <script>
        $(document).ready(function () {
            var dropType = $("#form_type");
            var dropModele = $("#form_modele");
            $(function () {
                dropModele.change(function () {
                    var selValue = $(this).val();
                    console.log(selValue);
                    //3abina drop type
                    $.ajax({
                        type: "GET",
                        url: "http://127.0.0.1:8001/gettypebymodele/" + selValue,
                        contentType: "application/json",
                        dataType: 'json',
                        success: function (result) {
                            console.log(result);
                            result.forEach(function (item) {
                                dropType.empty();
                                console.log(item.id);
                                console.log(item.nom);
                                dropType.append(new Option(item.nom, item.id));

                            });
                        }
                    });
                });
                //
                $(function () {
                    $("form").submit(function (e) {
                        e.preventDefault();
                        var actionurl = e.currentTarget.action;
                        var jsonData = {};
                        $("form").serializeArray().forEach(function (element) {
                            element.name = element.name.substring(element.name.indexOf("[") + 1);
                            element.name = element.name.substring(0, element.name.indexOf("]"));
                            jsonData[element.name] = element.value;
                        });
                        if ($('#form_climatisee').is(':checked') === false) {

                            jsonData["climatisee"] = 0;
                        }
                        console.log(jsonData);
                        $.ajax({
                            url: 'http://127.0.0.1:8001/ajoutvoiture',
                            type: 'post',
                            dataType: 'application/json',
                            data: jsonData,
                            success: function (data) {
                                alert("done");
                            },
                            error: function (xhr, textStatus, error) {
                                console.log(xhr.statusText);
                                console.log(textStatus);
                                console.log(error);
                            }
                        });

                    });

                });
            });
        });
    </script>

{% endblock %}